<script type="text/javascript" src="{{ "js/jquery.min.js" | absURL }}"></script>
<script>
   window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>
<script type="text/javascript" src="{{ "js/highlight.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/rust.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/dockerfile.min.js" | absURL }}"></script>
<script>
hljs.configure({
  tabReplace: '    ', // 4 spaces
  classPrefix: ''     // don't append class prefix
                      // … other options aren't changed
})
hljs.initHighlightingOnLoad();
</script>
<script type="text/javascript" src="{{ "js/application.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/plugin.js" | absURL }}"></script>
<script>
      (function (window) {
          var INSIGHT_CONFIG = {
              TRANSLATION: {
                  POSTS: '{{ T "insight_posts"}}',
                  PAGES: '{{ T "insight_pages"}}',
                  CATEGORIES: '{{ T "insight_categories"}}',
                  TAGS: '{{ T "insight_tags"}}',
                  UNTITLED: '{{ T "insight_untitled"}}',
              },
              ROOT_URL: '{{ .Site.BaseURL }}',
              CONTENT_URL: '{{ print .Site.BaseURL "/searchindex.json" | safeURL }} ',
          };
          window.INSIGHT_CONFIG = INSIGHT_CONFIG;
      })(window);
      </script>
<script type="text/javascript" src="{{ "js/insight.js" | absURL }}"></script>
{{- if eq .Type "repository" }}
{{- partial "_script/repository.html" . }}
{{- end}}
{{- if .IsPage }}
{{- end }}
{{- if eq .Type "posts"   }}
{{- end }}
{{- partial "_script/fancybox.html" . }}